# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# Build outputs
dist/
.next/
out/
*.tsbuildinfo

# Playground specific
playground/node_modules/
playground/.next/
playground/out/
playground/package-lock.json

# Logs
logs
*.log
*.log.*

# OS
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/
*.swp

# Netlify
.netlify/
# local only
playground/.env.local
